# Node.js
node_modules
coverage
.nyc_output
.idea
*.iml
out
.vscode
.eslintcache

# OS
.DS_Store

# Lock Files
yarn.lock
pnpm-lock.yaml

# AI
.claude

# Dist
dist
packages/website/site/docs/*.md
packages/cacheable-request/test/testdb.sqlite
packages/flat-cache/.cache
packages/file-entry-cache/.cache
packages/file-entry-cache/test/test-logger-file.txt
packages/flat-cache/.cachefoo456/cache4
