on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.4.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Check
        run: pnpm check

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test -- --coverage

      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage/coverage-final.json
          token: ${{ secrets.CODECOV_TOKEN }}
